<div class="carousel w-full h-90">
  <div id="slide1" class="carousel-item relative w-full">
    <img src="../assets/image/wallpaper1.jpg" class="slider" />
    <div
      class="absolute left-5 right-5 top-1/2 flex -translate-y-1/2 transform justify-between">
      <a href="#slide4" class="btn btn-circle">❮</a>
      <a href="#slide2" class="btn btn-circle">❯</a>
    </div>
  </div>
  <div id="slide2" class="carousel-item relative w-full">
    <img src="../assets/image/wallpaper2.jpg" class="slider" />
    <div
      class="absolute left-5 right-5 top-1/2 flex -translate-y-1/2 transform justify-between">
      <a href="#slide1" class="btn btn-circle">❮</a>
      <a href="#slide3" class="btn btn-circle">❯</a>
    </div>
  </div>
  <div id="slide3" class="carousel-item relative w-full">
    <img src="../assets/image/wallpaper3.jpg" class="slider" />
    <div
      class="absolute left-5 right-5 top-1/2 flex -translate-y-1/2 transform justify-between">
      <a href="#slide2" class="btn btn-circle">❮</a>
      <a href="#slide4" class="btn btn-circle">❯</a>
    </div>
  </div>
  <div id="slide4" class="carousel-item relative w-full">
    <img src="../assets/image/wallpaper4.jpg" class="slider" />
    <div
      class="absolute left-5 right-5 top-1/2 flex -translate-y-1/2 transform justify-between">
      <a href="#slide3" class="btn btn-circle">❮</a>
      <a href="#slide1" class="btn btn-circle">❯</a>
    </div>
  </div>
</div>
<div class="mt-4">
  <div class="mt-6 mb-6">
    <h1 class="text-4xl font-bold text-center">Sobre Nosotros</h1>
    <br>
  </div>
  <div class="mt-5 grid grid-cols-1 md:grid-cols-3 gap-6 justify-items-center">
    <div
      class="card bg-gray-800 rounded-lg shadow-lg"
      style="">
      <div class="card-header bg-gray-700 bg-opacity-25 rounded-t-lg">
        <h1 class="text-center mt-4 mb-4 master-text text-3xl font-semibold">
          MISIÓN
        </h1>
      </div>
      <div class="card-body text-white text-lg">
        <p class="text-justify">
          Ser la opción preferida de los entusiastas del gaming al proporcionar
          PCs de alta gama que superen las expectativas de rendimiento y
          calidad, impulsando así experiencias únicas y satisfactorias.
        </p>
      </div>
    </div>

    <div
      class="card bg-gray-800 rounded-lg shadow-lg"
      style="">
      <div class="card-header bg-gray-700 bg-opacity-25 rounded-t-lg">
        <h1 class="text-center race-text mt-4 mb-4 text-3xl font-semibold">
          VISIÓN
        </h1>
      </div>
      <div class="card-body text-white text-lg">
        <p class="text-justify">
          Convertirnos en líderes reconocidos a nivel mundial en la industria de
          PCs gamer, innovando continuamente para ofrecer tecnología puntera que
          potencie el disfrute y desempeño en los videojuegos.
        </p>
      </div>
    </div>

    <div
      class="card bg-gray-800 rounded-lg shadow-lg"
      style="">
      <div class="card-header bg-gray-700 bg-opacity-25 rounded-t-lg">
        <h1 class="text-center gaming-text mb-4 mt-4 text-3xl font-semibold">
          VALORES
        </h1>
      </div>
      <div class="card-body text-white text-lg">
        <ul class="text-justify">
          <li class="mb-3">
            <span class="font-bold gaming-text">Innovación:</span> Nos
            esforzamos por estar a la vanguardia tecnológica, creando productos
            que marquen tendencia en el mercado gamer.
          </li>
          <li class="mb-3">
            <span class="font-bold gaming-text">Calidad:</span> Comprometidos
            con la excelencia en cada detalle, desde el diseño hasta la
            fabricación, para garantizar productos duraderos y de alto
            rendimiento.
          </li>
          <li class="mb-3">
            <span class="font-bold gaming-text">Pasión por el gaming:</span>
            Impulsados por la pasión por los videojuegos, entendemos y
            anticipamos las necesidades de nuestros clientes gamers.
          </li>
          <li>
            <span class="font-bold gaming-text">Confianza:</span> Construimos
            relaciones sólidas y duraderas basadas en la transparencia, la
            integridad y el compromiso con nuestros clientes y socios.
          </li>
        </ul>
      </div>
    </div>
  </div>

  <br><br>
</div>
